<li class='meeting large-8 small-12 columns large-centered small-centered'>
	<h4 class="center-text"><%= link_to meeting.title + " - " + meeting.date_for.to_formatted_s(:long_ordinal) , meeting_path(meeting) %></h4>
</li>