<% provide(:title , "Meetings") %>

<ul class="accordion small-12 large-8 large-centered small-centered columns" data-accordion>
	<h3 class="center-text">Meetings</h3>
  <li class="accordion-navigation">
    <a class="center-text" href="#upcoming">Upcoming</a>
    <div id="upcoming" class="content active">
		 	<div class="content active" id="upcoming">
				<ul>
				<%= render @meetings %>
				</ul>
		  </div>
    </div>
  </li>
  <li class="accordion-navigation">
    <a class="center-text" href="#past">Past</a>
    <div id="past" class="content">
  		<div class="content" id="past">
  			<ul>
					<%= render @past_meetings %>
				</ul>
  		</div>
    </div>
  </li>
</ul>

