<% provide(:title , "Meetings") %>
<ul class="tabs small-12 large-4 large-centered small-centered columns" data-tab>
    <h3 class="center-text">Meetings</h3>
  <li class="tab-title active"><a href="#upcoming">Upcoming</a></li>
  <li class="tab-title"><a href="#past">Past</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="upcoming">
    <ul>
      <%= render @meetings %>
    </ul>
  </div>
  <div class="content" id="past">
    <ul>
      <%= render @past_meetings %>
    </ul>
  </div>

</div>