<% provide(:title, @meeting.title + " - Stats") %>
<table class="small-8 large-6 large-centered small-centered columns">
 	<h3><%= @meeting.title %></h3>
 	<th>Name</th>
 	<th>Attendend?</th>
 	<% @users_hash.each do |name,value| %>
	<tr>
			<td><%= name %></td>
			<td><%= "X" if value == 1 %></td>
		<% end %>
	</tr>

</table>
