<% provide(:title, @user.name + " - Stats") %>
<table class="small-8 large-6 large-centered small-centered columns">
 	<h3><%= @user.name %></h3>
 	<th>Meeting</th>
 	<th>Attended?</th>
 	<% @meetings_hash.each do |meeting,value| %>
	<tr>
			<td><%= meeting %></td>
			<td><%= "X" if value == 1 %></td>
		<% end %>
	</tr>

</table>
