<% provide(:title, @user.name + " - Stats") %>
<table>
 	<h3><%= @user.name %></h3>
 	<th>Meeting</th>
 	<th>Attended?</th>
	<tr>
		<% @meetings_hash.each do |meeting,value| %>
			<td><%= meeting %></td>
			<td><%= "X" if value == 1 %></td>
		<% end %>
	</tr>

</table>
