/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 * {
	font-family: 'Poppins', sans-serif;
	 }

h1 {
	font-family: 'Poppins', sans-serif;
}

a {
	font-family: 'Poppins', sans-serif;
}

#main-header {
	font-size: 30px;
	text-align: center;
}

.center-text{
	text-align: center;
}
ul {
	list-style-type: none;
}

.tab-title {
	text-align: center;
	width: 50%;
}

.red {
	color:red;
}
.green {
	color:green;
}

.notice {
	width: 100%;
	background-color: #68E516;
	text-align: center;
	color: black;
	font-family: 'Raleway', sans-serif; 
}

.alert {
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif; 
	width: 100%;
  background-color:#FF3C25
}
.meeting {
	border-bottom: 0.5px solid gray;
	padding: 5px;
}
.user {
	padding: 10px;
	border-bottom: 1px solid gray;
}

.email-button {
	margin-left: 30%;
}
.admin-tool{
	padding:5px;
}
li {
	list-style-type: none;
}

